@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: url(../imgs/bg.jpg);
}
@layer utilities {
  .active {
    @apply text-primaryAccent;
  }
}

html {
  scroll-behavior: smooth;
}

#showBody::before {
  background-image: var(--bg);
}
