@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: url(../imgs/bg.jpg);
}
@layer utilities {
  .active {
    @apply text-primaryAccent;
  }
  #person_overview.show ,
  #season_overview.show {
    @apply z-30 opacity-100;
  }
  .textVertical {
    writing-mode: vertical-rl;
  }
}

html {
  scroll-behavior: smooth;
}

#showBody::before {
  background-image: var(--bg);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: black;
}

.swiper {
  width: 600px;
  height: 300px;
}