@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: linear-gradient(306deg, #000 0%, #0b1531 100%);
  --episode-bg: linear-gradient(306deg, #000 0%, #0b1531 100%);
}
@layer utilities {
  li.active,
  i.active {
    @apply text-primaryAccent;
  }
  #verify_user_container.show,
  #account.show,
  #forgot_password_container.show,
  #episode_overview.show,
  #person_overview.show,
  #season_overview.show {
    @apply z-30 opacity-100;
  }
  #explore button.active,
  #tabs button.active,
  #listsButtons button.active {
    @apply bg-secondaryAccent;
  }
  #watchList.show {
    @apply z-10 opacity-100 max-md:z-50;
  }
  #downloadList.show {
    z-index: 99999;
    opacity: 1;
  }
  #search_list.show {
    @apply bottom-full z-10 opacity-100;
  }
}

html {
  scroll-behavior: smooth;
}
#showBody::before {
  background-image: var(--bg);
}
#episode_overview > div {
  background-image: var(--episode-bg);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: white;
}

#exploreTabs::-webkit-scrollbar,
#listsButtons::-webkit-scrollbar {
  display: none;
}

#skeleton .bg-textColor2 {
  @apply animate-skeleton;
}
